project_1dqd
Harmonic2.m
qd-engine-old.jl
test
qd-engine-resRaman.jl
obsolete-functions.jl
*.nc
*.nb
*.png
.ipynb_checkpoints/
2D-dynamics.jl
Benchmark_development.ipynb
theory/
examples/
tmp.gif
TODO.md
compress.jl
Untitled.ipynb
old_examples/
